<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @name %>
    <button id="test" type="button" name="button">test button</button>
  </body>
</html>
